*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 4px 8px;
}

.headerCell {
  padding-right: 20px;
}

.sortHeaderCell {
  padding-right: 4px;
}

th {
  background-color: #ffff;
  font-size: 1.1em;
  border-bottom: 1px solid #8888;
}

.sortedTable tr:nth-child(odd) {
  background: #eee;
}

.sortedTable tr:hover {
  background: #ddd;
}

.sortedTableSelectedRow td {
  background: #ddf;
  font-weight: 600;
}

.dragEnter {
  background-color: #8888;
  border-left: 1.5px solid blue;
  border-right: 1.5px solid blue;
}

.columnMenu {
  display: none;
}

.showColumnMenu {
  display: block;
  position: absolute;
  background-color: #ffff;
  border: 1px solid #8888;
  padding: 4px;
  z-index: 100;
  text-align: left;
}

.menuItem {
  cursor: pointer;
  padding: 4px;
  margin: 2px;
  font-size: 15px;
  font-weight: 400;
}

.menuItem:hover {
  background-color: #eee;
}

.columnSelected {
  cursor: pointer;
  padding: 4px;
  font-weight: 400;
  font-size: 15px;
  background-color: #44d;
  color: white;
  margin: 2px;
  border-radius: 3px;
}