*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: system-ui, "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.15;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 4px 8px;
}

th {
  background-color: #ffff;
}

.dragEnter {
  background-color: #8888;
}
